---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<Layout
  title="The Concept"
  siteTitleOverride={SITE_TITLE}
  description={SITE_DESCRIPTION}
  pubDate={new Date("May 02 2026")}
>
  <p>The ongoing adventures of Io, Cal, and Jacob aboard the Night Heron.</p>
</Layout>
