---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<Layout
    title="The Concept"
    siteTitleOverride={SITE_TITLE}
    description={SITE_DESCRIPTION}
    pubDate={new Date("May 02 2026")}
>
    <p>
        This still needs to be written, but this will describe how Ian and
        friends play the game and write this story. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel
        risus commodo viverra. Adipiscing enim eu turpis egestas pretium.
        Euismod elementum nisi quis eleifend quam adipiscing. In hac habitasse
        platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et
        malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non
        diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim.
        Habitasse platea dictumst quisque sagittis. Integer quis auctor elit sed
        vulputate mi. Dictumst quisque sagittis purus sit amet.
    </p>
</Layout>
