---
const today = new Date();
---

<footer
  class="footer footer-center bg-base-200 text-base-content/70 py-10 px-4 mt-16"
>
  <aside>
    <p>&copy; {today.getFullYear()} Joe MacInnes. All rights reserved.</p>
  </aside>
  <a href="https://www.flaticon.com/free-icons/rocket" title="rocket icons"
    >Rocket icons created by Freepik - Flaticon</a
  >
</footer>
