---
import { SITE_TITLE } from "../consts";
import { Moon, Sun } from "@lucide/astro";

const links = [
    { href: "/", label: "The Concept" },
    { href: "/blog", label: "The Story" },
];

const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, "");
const subpath = pathname.match(/[^\/]+/g);
const currentTop = "/" + (subpath?.[0] || "");
---

<header
    class="navbar bg-base-100 border-b border-base-200 sticky top-0 z-50 px-4 max-md:flex-col"
>
    <a href="/" class="md:hidden btn btn-ghost normal-case text-lg font-bold">
        {SITE_TITLE}
    </a>
    <div class="navbar-start max-md:hidden">
        <a href="/" class="btn btn-ghost normal-case text-lg font-bold">
            {SITE_TITLE}
        </a>
    </div>
    <nav role="tablist" class="relative navbar-center tabs tabs-border">
        {
            links.map(({ href, label }) => (
                <a
                    href={href}
                    role="tab"
                    class:list={[
                        "tab",
                        {
                            "tab-active":
                                href === pathname || href === currentTop,
                        },
                    ]}
                >
                    {label}
                </a>
            ))
        }
    </nav>
    <div class="sm:navbar-end flex gap-1 max-sm:mt-3">
        <label class="flex cursor-pointer gap-2">
            <Sun class="size-5" />
            <input
                type="checkbox"
                value="coffee"
                class="toggle theme-controller"
            />
            <Moon class="size-5" />
        </label>
    </div>
</header>

<script is:inline>
    (() => {
        const input = document.querySelector("input.theme-controller");
        if (!input) return;
        input.checked =
            document.documentElement.getAttribute("data-theme") === "coffee";
        input.addEventListener("change", () => {
            const theme = input.checked ? "coffee" : "caramellatte";
            document.documentElement.setAttribute("data-theme", theme);
            localStorage.setItem("theme", theme);
        });
    })();
</script>
